<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <title>Colegio</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <h1><a href="/" class="navbar-brand">Colegio Cambridge</a></h1>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="card-body">
                    <form action="/update/<%= data.id%>" method="post">
                        <div class="form-group">
                            <input type="text" name="nombre" value="<%= data.nombre%>" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="tipo_empleado" value="<%= data.tipo_empleado%>"  class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="oficina" value="<%= data.oficina%>"   class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="tipo_contrato" value="<%= data.tipo_contrato%>"   class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">editar empleado</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>
    