<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <title>Colegio Cambridge</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Colegio Cambridge</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/area">Areas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/oficina">Oficinas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row mt-5">
            <div class="card">
                <div class="card-body">
                    <legend>Empleado</legend>
                    <form action="/add" method="post">
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                        </div>
                        <div class="form-group">
                            <select name="area" class="form-control">
                                <option selected>Area</option>
                                <%for (var i = 0; i < area.length; i++) {%>
                                    <option value="<%= area[i].nombreArea %>"><%= area[i].nombreArea %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="tipo_empleado" class="form-control">
                                <option selected>Tipo de empleado</option>
                                <option value="Administrativo">Administrativo</option>
                                <option value="Profesor">Profesor</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="oficina" class="form-control">
                                <option selected>Oficina</option>
                                <%for (var i = 0; i < oficina.length; i++) {%>
                                    <option value="<%= oficina[i].nombreOficina %>"><%= oficina[i].nombreOficina %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <select name="tipo_contrato" class="form-control">
                                <option selected>Tipo de contrato</option>
                                <option value="Contratista">Contratista</option>
                                <option value="Planta">Planta</option>
                                <option value="">Ninguno</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary form-control">Agregar empleado</button>
                    </form>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover mt-5">
            <thead style="text-align: center;">
                <th>ID</th>
                <th>NOMBRE</th>
                <th>AREA</th>
                <th>TIPO DE EMPLEADO</th>
                <th>OFICINA</th>
                <th>TIPO DE CONTRATO</th>
                <th>ACCIONES</th>
            </thead>
            <tbody>
                <% if (empleado)  { %>
                    <%for (var i = 0; i < empleado.length; i++) {%>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= empleado[i].nombre%></td>
                            <td><%= empleado[i].area%></td>
                            <td><%= empleado[i].tipo_empleado%></td>
                            <td><%= empleado[i].oficina%></td>
                            <td><%= empleado[i].tipo_contrato%></td>
                            <td>
                                <a href="/delete/<%= empleado[i].id %>" class="btn btn-danger">Eliminar</a>
                                <a href="/update/<%= empleado[i].id %>" class="btn btn-info">Editar</a>
                            </td>
                        </tr>     
                    <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>