<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <title>Colegio Cambridge</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Colegio Cambridge</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/area">Areas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/oficina">Oficinas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/iempleados">Informe Empleados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/iareas">Informe Areas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row mt-5">
            <div class="card" id="Agregar" style="border:1px solid black; display: none; margin-bottom: 2px;">
                <div class="card-body">
                    <legend>Oficina</legend>
                    <form action="/oficina/add" method="post">
                        <div class="form-group">
                            <input type="text" name="nombreOficina" placeholder="Oficina" class="form-control">
                        </div>
                        <div class="form-group">
                            <select name="areaOficina" class="form-control">
                                <option selected>Area</option>
                                <%for (var i = 0; i < area.length; i++) {%>
                                    <option value="<%= area[i].nombreArea %>"><%= area[i].nombreArea %></option>
                                <% } %>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary form-control">Agregar oficina</button>
                    </form>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover mt-5">
            <thead style="text-align: center;">
                <br>
                <button onclick="myFunction()" class="btn btn-success">Agregar</button>
                <th>ID OFICINA</th>
                <th>NOMBRE</th>
                <th>AREA</th>
                <th>ACCIONES</th>
            </thead>
            <tbody style="text-align: center;">
                <% if (oficina)  { %>
                    <%for (var i = 0; i < oficina.length; i++) {%>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= oficina[i].nombreOficina %></td>
                            <td><%= oficina[i].areaOficina %></td>
                            <td>
                                <a href="/oficina/delete/<%= oficina[i].idOficina %>" class="btn btn-danger">Eliminar</a>
                                <a href="/oficina/update/<%= oficina[i].idOficina %>" class="btn btn-info">Editar</a>
                            </td>
                        </tr>     
                    <% } %>
                <% } %>
                
            </tbody>
        </table>
    </div>

<script src="script.js"></script>
</body>
</html>